services:
  derm-mcp:
    build: .
    image: derm-mcp
    container_name: medex-derm
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      - ../code:/home/project/code
      - ../models:/home/project/models
      - ../data:/home/project/data
    ports:
      - "6565:6565"
    working_dir: /home/project/code
    command: python3 server.py
    restart: unless-stopped
